a          { text-decoration: none; }
a:hover    { text-decoration: underline; }


table.navbar a          { color: #fff; }
table.navbar a:hover    { color: #fff; 
                          background: #909;
                          text-decoration: none; }


ul.plain   { list-style: none; }

